h3 {
  /* All Coins */
  width: 90px;
  height: 23px;
  left: 32px;
  top: 299px;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: Gibson;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 127.34%;
  white-space: nowrap;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000;
}

.coin-chart {
  padding: 2rem;
  height: 300px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #fff;
  border: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.coin-list {
  overflow: hidden;
  height: 244px;
  overflow-y: scroll;

  .coin-name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    text-align: unset;
  }

  span.coin-name {
    &:hover {
      cursor: pointer;
      background-color: #f3f3f3;
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #e2e2e2;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 332%;
    text-transform: uppercase;
    color: #000000;
  }

  li:last-child {
    border: none;
  }

  span,
  h4 {
    width: 50%;
    white-space: nowrap;
    text-align: right;

    @media (min-width: 768px) {
      width: 25%;
    }
  }

  span {
    font-style: normal;
    font-weight: normal;
  }

  h4 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 127.34%;
    text-transform: uppercase;

    color: #000;
  }
}

.additional-details {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
