.drop-down-menu {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 2.0625rem;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 155.25%;
  text-transform: capitalize;

  color: #000000;

  svg {
    margin-bottom: 0.3125rem;
    align-self: flex-end;
  }

  input {
    border: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 155.25%;

    &::placeholder {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 155.25%;
      color: #000000;
    }

    &:focus {
      outline: none;
    }
  }
}

.drop-down-list-items {
  height: 0;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  background-color: white;
  width: 16.2rem;
  transition: height 200ms;

  li:hover {
    background-color: #f3f3f3;
  }
}

.visible {
  height: 7.5rem;
}
